body,html {
  background-color: #04295B;
  margin: 0; 
  padding: 0; 
  display: flex; 
  align-items: center; 
  justify-content: center;
  text-align: center;
  font-family: 'Midpoint Pro', sans-serif; 
  color: #fff;
  font-size: 1.2rem;
  height: 100vh; /* Set the height to 100% of the viewport height */ 
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  /* for single line flex container */
  align-content: center;
  /* for multi-line flex container */
}

h2 {
  display:flex;
  justify-content:center;
  align-items:center;
  
  color: #fff;
  font-family: 'Roboto', sans-serif;
  /*font-size: 14em;*/
}

h3 {
  display:flex;
  justify-content:center;
  align-items:top;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  /*font-size: 5em;*/
}

.fullwidth {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.repeat-x {
  flex:1;
  background-size: cover;
  background-repeat:no-repeat;
  background-position:center center;

}